@import 'colors'
@import 'fonts'

:host, div.container
    display: grid


div.container
    grid-auto-flow: column
    justify-content: left
    align-items: center
    gap: 30px
    padding: 24px 30px

    background-color: $black
    color: $white
    font-family: $roboto
    line-height: 24px
    font-size: 14px
    font-weight: $medium

    border-radius: 4px 4px 0 0


