@import 'colors'
@import 'sizes'
@import 'organisms'

div#container
    display: flex
    opacity: 1
    height: 100%
    width: 100%
    position: fixed
    background-color: rgb($brown-light, .3  )
    z-index: 3


div#fg
    display: inline-block
    background-color: $bisque-light
    margin: 0 auto  // centering <->
    padding: 25px
    border-radius: $border-radius-big

    align-self: center  // centering |
    width: 508px

    transition: .1s linear all
    opacity: 0
    transform: translateY(20px)

    @media screen and ( max-width:  $min-mobile-width)
        align-self: flex-end  // centering |
        width: 100%
        margin: 0 5px 30px 5px

    // for sliding the popup down
    position: relative
    touch-action: none



div#bg
    width: 100%
    height: 100%
    position: fixed
    top: 0
    z-index: -1
    cursor: pointer

header
    display: grid
    gap: 30px
    grid-auto-flow: column
    justify-content: space-between

    & h1
        font-family: $roboto
        font-size: 21px
        line-height: 36px
        color: $black-dark

strong
    color: $black-dark
    font-weight: $medium

p
    font-family: $roboto
    font-size: 16px
    line-height: 27px
    color: $black-lighter

p.description-subtitle
    font-size: 14px
    line-height: 24px
    color: $black-lighter
    opacity: .8
    margin-top: 5px

p.single-description
    margin-top: 48px
    margin-bottom: 96px

div#pro
    margin-top: 48px
    margin-bottom: 96px
    display: flex
    flex-direction: column
    gap: 37px
    @media screen and ( max-width:  $min-mobile-width)
        margin-top: min(5vh, 48px)
        margin-bottom: min(7vh, 96px)
        gap: 20px
        gap: min(4vh, 37px)


div#list-popup
    margin-top: 48px
    margin-bottom: 0
    display: flex
    flex-direction: column
    gap: 5px


#pro-title
    @media screen and ( max-width:  $min-mobile-width)
        font-size: 18px
        line-height: 24px

header.pro
    @media screen and ( max-width:  $min-mobile-width)
        align-items: center

div.pro-tile
    display: flex
    gap: 21px
    align-items: flex-start

div#buttons:not(.noCancelButton)
    display: grid
    grid-template-columns: fit-content( 100% ) auto
    gap: 5px

div.noCancelButton
    display: grid
    grid-template-columns: auto

button.action

    span
        margin-left: 0
        margin-right: 0

    justify-content: center

    & > icon-delete
        transform: translateY(-1px)

    & icon-share
        transform: scaleY(-1)


.popup-list-item__left
    display: flex
    align-items: center
    gap: 25px
    position: relative
    left: 0

    @media screen and ( max-height:  $small-mobile-height)
        gap: 13px

.popup-list-item__left:not(.contact_list_item__left)
    transition: .1s ease-in-out color

.popup-list-item__button
    opacity: 0
    transition: .1s ease-in-out
    position: relative
    right: -25px

@media screen and ( min-width:  $min-mobile-width)
    .popup-list-item:not(.active):hover .popup-list-item__button
        opacity: 1
        right: -15px

.popup-list-item__button
    pointer-events: none


.popup-list-item__lang-image img
    @media screen and ( max-height:  $small-mobile-height)
        width: 25px
        height: 25px



.contact_list_item
    p
        color: inherit
        font-size: inherit
        font-weight: inherit

    ::ng-deep svg path
        transition: .1s ease-in-out

    @media screen and ( min-width:  $min-mobile-width)

        &:hover
            color: $white
            ::ng-deep svg path
                stroke: $white

        &#telegram
            &:hover
                background: #2CA5E0

        &#whatsapp
            &:hover
                background: #28BE3D

        &#linkedin
            &:hover
                background: #3D7ADD

        &#email
            &:hover
                background: #6F57FF


.contact_list_item__logo
    width: 35px
    height: 35px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

    @media screen and ( max-height:  $small-mobile-height)
        width: 25px
        height: 25px

        & img
            transform: scale(.8)

    &.contact_list_item__logo__telegram
        background: #2CA5E0

    &.contact_list_item__logo__whatsapp
        background: #28BE3D

    &.contact_list_item__logo__linkedin
        background: #3D7ADD

    &.contact_list_item__logo__email
        background: #6F57FF



.contact_list_item
    @media screen and ( min-width:  $min-mobile-width)
        .contact_list_item__logo
            transition: .1s ease-in-out
        &:hover
            .contact_list_item__logo
                background: rgba(255, 255, 255, .20)

        &:hover
            .contact_list_item__logo__whatsapp
                background: rgba(255, 255, 255, .23)
        &:hover
            .contact_list_item__logo__linkedin
                background: rgba(255, 255, 255, .18)
        &:hover
            .contact_list_item__logo__email
                background: rgba(255, 255, 255, .19)

