<div #container id="container" *ngIf="open" @popupFader>
    <div
        id="fg"
        @popupFader
        (touchstart)="touchStart($event)"
        (touchmove)="touchMove($event)"
        (touchend)="touchEnd($event)"
        #fg
    >
        <header>
            <h1 *ngIf="type === 'noteRemoval'">
                {{ lang.copy.popups.titles.remove }}
            </h1>
            <h1 *ngIf="type === 'noteUnshare'">
                {{ lang.copy.popups.titles.unshare }}
            </h1>
            <h1 *ngIf="type === 'linkRevoke'">
                {{ lang.copy.popups.titles.revoke }}
            </h1>
            <h1 *ngIf="type === 'info'">{{ title }}</h1>

            <button
                id="close-puput"
                class="small-button-icon-only"
                (click)="open = false; this.onCancel()"
            >
                <icon-close-note></icon-close-note>
            </button>
        </header>

        <p *ngIf="type === 'noteRemoval'">
            {{ lang.copy.popups.titles.wantToDelete }} “<strong>{{
                activeNoteTitle
            }}</strong
            >” ?
        </p>

        <p *ngIf="type === 'noteUnshare'">
            {{ lang.copy.popups.descriptions.unshare.beforeTitle
            }}<strong>{{ activeNoteTitle }}</strong
            >” ?

            <br />

            {{ lang.copy.popups.descriptions.unshare.afterTitle }}
        </p>

        <p *ngIf="type === 'linkRevoke'">
            {{ lang.copy.popups.descriptions.revoke.beforeTitle
            }}<strong>{{ activeNoteTitle }}</strong
            >” ?

            <br />

            {{ lang.copy.popups.descriptions.revoke.afterTitle }}
        </p>

        <p *ngIf="type === 'info'">{{ body }}</p>

        <div id="buttons">
            <button
                class="small-button-secondary"
                id="cancel"
                (click)="open = false; this.onCancel()"
            >
                <icon-close-note></icon-close-note>
                {{ lang.copy.buttons.cancel }}
            </button>

            <button
                class="action small-button-primary white-icon"
                *ngIf="type === 'noteRemoval'"
                (click)="this.onSuccess(); open = false"
            >
                <div class="icon">
                    <icon-delete></icon-delete>
                </div>
                <span> {{ lang.copy.buttons.remove }} </span>
            </button>

            <button
                class="action small-button-primary white-icon"
                *ngIf="type === 'noteUnshare'"
                (click)="this.onSuccess(); open = false"
            >
                <div class="icon">
                    <icon-share></icon-share>
                </div>
                <span> {{ lang.copy.buttons.unshare }} </span>
            </button>

            <button
                class="action small-button-primary white-icon"
                *ngIf="type === 'linkRevoke'"
                (click)="this.onSuccess(); open = false"
            >
                <div class="icon">
                    <icon-revoke></icon-revoke>
                </div>
                <span>
                    {{ lang.copy.buttons.revoke }}
                </span>
            </button>

            <button
                class="action small-button-primary white-icon"
                *ngIf="type === 'info'"
                (click)="confirmationPressed.emit(); onSuccess(); open = false"
            >
                <div class="icon" *ngIf="confirmButtonIcon">
                    <ng-container
                        [ngComponentOutlet]="confirmButtonIcon"
                    ></ng-container>
                </div>
                <span>{{ buttonText }}</span>
            </button>
        </div>
    </div>

    <div id="bg" (click)="open = false; this.onCancel()"></div>
</div>

<!-- <ng-container [ngTemplateOutlet]="compTemplate"></ng-container> -->

<!-- <ng-template #compTemplate>
    <p>www</p>
</ng-template> -->
