@import 'colors'
@import 'sizes'
@import 'organisms'

div#container
    display: flex
    opacity: 1
    height: 100%
    width: 100%
    position: fixed
    background-color: rgb($brown-light, .3  )
    z-index: 2


div#fg
    display: inline-block
    background-color: $bisque-light
    margin: 0 auto  // centering <->
    padding: 25px
    border-radius: $border-radius-big

    align-self: center  // centering |
    width: 508px

    transition: .1s linear all
    opacity: 0
    transform: translateY(20px)

    @media screen and ( max-width:  $min-mobile-width)
        align-self: flex-end  // centering |
        width: 100%
        margin: 0 5px 30px 5px

    // for sliding the popup down
    position: relative
    touch-action: none



div#bg
    width: 100%
    height: 100%
    position: fixed
    top: 0
    z-index: -1
    cursor: pointer

header
    display: grid
    gap: 30px
    grid-auto-flow: column
    justify-content: space-between

    & h1
        font-family: $roboto
        font-size: 21px
        line-height: 36px
        color: $black-dark

strong
    color: $black-dark
    font-weight: $medium

p
    margin-top: 48px
    margin-bottom: 96px
    font-family: $roboto
    font-size: 16px
    line-height: 27px
    color: $black-lighter

div#buttons
    display: grid
    grid-template-columns: fit-content( 100% ) auto
    gap: 5px


button.action
    justify-content: center

    & > icon-delete
        transform: translateY(-1px)

    & > icon-delete,
    & > icon-share,
    & > icon-revoke,
    & > img
        grid-column: inherit
        margin-left: 0

    & > icon-share
        transform: scaleY(-1)
