<div id="sign-out" *ngIf="googleAuth.userLoggedIn">
    <button id="sign-out-button" class=small-button-secondary (click)=googleAuth.signOut()>
        <div id="icon-and-text">
            <icon-sign-out></icon-sign-out>
            Sign out
        </div>

        <div id="avatar" class=small-button-secondary title="avatar">
            <loader [visible]="googleAuth.buttonLoaderVisible" [isAvatar]="true"></loader>
            <div id="avatar-container">
                <img [src]="googleAuth.avatarUrl" referrerpolicy="no-referrer" alt="avatar">
            </div>
        </div>

    </button>
</div>
