<div id="container">
    <loader-mobile [visible]="loaderVisible"></loader-mobile>

    <div id="top-part">
        <header>
            <div id="left-side">
                <logo-mobile
                    routerLink="/"
                    queryParamsHandling="merge"
                ></logo-mobile>

                <h1>
                    {{ lang.copy.sharing }}
                </h1>
            </div>

            <loader [visible]="loaderVisible" class="mobileHidden"></loader>

            <button
                id="close-note"
                class="small-button-icon-only"
                (click)="closeSharingWindow()"
            >
                <icon-close-note></icon-close-note>
            </button>
        </header>

        <div class="link-and-buttons">
            <div class="email-and-tg-buttons">
                <button
                    class="small-button-secondary"
                    (click)="sendProRequiredPopup('email')"
                >
                    Email
                    <icon-arrow-right color="#878179"></icon-arrow-right>
                </button>
                <button
                    class="small-button-secondary"
                    (click)="sendProRequiredPopup('telegram')"
                >
                    Telegram
                    <icon-arrow-right color="#878179"></icon-arrow-right>
                </button>
            </div>
            <div
                class="input-and-link"
                [class.openLinkButtonVisible]="activeNote.sharingToken"
            >
                <input
                    readonly
                    value="{{
                        activeNote.sharingToken
                            ? baseUrl + '/n/' + activeNote.sharingToken
                            : lang.copy.linkSharingDisabled
                    }}"
                    type="text"
                    id="link"
                    class="input"
                />
                <a
                    id="sharink-link-open"
                    class="small-button-icon-only"
                    href="{{
                        activeNote.sharingToken
                            ? baseUrl + '/n/' + activeNote.sharingToken
                            : ''
                    }}"
                    target="_blank"
                >
                    <icon-external-link></icon-external-link>
                </a>
            </div>
        </div>

        <section id="access-buttons-copy-unshare-revoke">
            <button
                id="copy-link"
                class="big-button-primary white-icon copy"
                [cdkCopyToClipboard]="sharingLink"
                (cdkCopyToClipboardCopied)="notifyAboutCopiedText()"
                *ngIf="activeNote.sharingToken"
            >
                <icon-copy></icon-copy>
                <span>
                    {{ lang.copy.buttons.copyLink }}
                </span>
            </button>

            <button
                id="make-accessible-by-link"
                class="big-button-primary white-icon copy"
                (click)="shareNote()"
                *ngIf="!activeNote.sharingToken"
            >
                <span>
                    {{ lang.copy.buttons.makeAccessibleByLink }}
                </span>
            </button>

            <div class="unshare-revoke-buttons">
                <button
                    id="unshare"
                    class="small-button-secondary red"
                    (click)="sendUnsharingConfirmation()"
                    *ngIf="activeNote.sharingToken"
                >
                    <span>
                        {{ lang.copy.buttons.unshare }}
                    </span>
                </button>

                <button
                    id="revoke"
                    class="small-button-secondary red"
                    (click)="sendRevokingConfirmation()"
                    *ngIf="activeNote.sharingToken"
                >
                    <icon-revoke></icon-revoke>
                    <span>
                        {{ lang.copy.buttons.revoke }}
                    </span>
                </button>
            </div>
        </section>
    </div>

    <div id="bottom-part">
        <div class="bottom-alert">
            <div class="alert" [class.visible]="activeNote.sharingToken">
                <persistent-alert
                    >{{ this.lang.copy.sharingNotice.specific }}
                </persistent-alert>
            </div>
        </div>
    </div>
</div>
