@import 'fonts'

form
    padding: 0px 50px 50px
    position: relative
    top: -10px

textarea
    border: none
    overflow: auto
    outline: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    resize: none
    background-color: transparent

    font-family: $roboto
    display: block

    margin-bottom: 20px

    &#title
        font-size: 40px

    &#body
        font-size: 16px


