<div id="container" [class.alertVisible]="alertVisible">

    <header id="note-controls">

        <button class="small-button-icon-only red" (click)="removeNote()">
            <icon-delete></icon-delete>
        </button>

        <button id="share" class=small-button-secondary (click)="shareNote()">
            <icon-share></icon-share>
            {{activeNote?.isShared ? 'Sharing settings' : 'Share'}}
        </button>

        <button id="close-note" class="small-button-icon-only" (click)="closeNote()">
            <icon-close-note></icon-close-note>
        </button>

    </header>



    <div id="note-content">
        <form action="" [formGroup]=form FixTextAreaTitleSizeOnDocumentResize>

            <textarea name="tite" id="title" rows="1" autofocus=true data-gramm="false"
                [formFocusAndHeightAdjustment]=toggleFormFocus
                oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"
                onfocus='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"
                onfocusout='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"
                formControlName="title">
            </textarea>

            <!-- <textarea name="body" id="body" rows="1" [formFocusAndHeightAdjustment]=toggleFormFocus
                oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                placeholder="Add description"
                onfocus='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"
                onfocusout='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"
                formControlName="body">
            </textarea> -->

            <textarea name="body" id="body"
                placeholder="Add description"
                formControlName="body">
            </textarea>

        </form>
    </div>

    <div [class.visible]="alertVisible" class="bottom-alert">
        <div class="alert">
            <persistent-alert>Any SHARED note will become accessible by a link unless you log in for 30 days</persistent-alert>
        </div>
    </div>


    <!-- <div class="close-button" onclick="this.blur" *ngIf="textareaInFocus">
        <icon-hide-keyboard></icon-hide-keyboard>
    </div> -->



</div>
