<form action="" [formGroup]=form>

    <textarea name="tite" id="title" rows="1" autofocus=true data-gramm="false" [formFocusAndHeightAdjustment]=toggleFormFocus
        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"
        onfocus='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"

        formControlName="title">
    </textarea>

    <textarea name="body" id="body" rows="1" [formFocusAndHeightAdjustment]=toggleFormFocus

        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add description"
        onfocus='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Add title"

        formControlName="body">
    </textarea>

</form>
