
<div id=container>

    <header>
        <div class="left">
            <a href="" id=logo><img src="assets/logo_small_dark.svg" alt="logotype"></a>
            <button id=createNew class=small-button-primary (click)=createNote()>New note</button>
        </div>
        <button id=sign-out (click)=googleAuth.signOut() class=small-button-secondary>Sign out</button>
    </header>

    <!-- <h2 >Notes</h2> -->

    <!-- <notification>

        Any SHARED note will become accessible by a link unless you

        <highlight>
            log in for 30 days
        </highlight>

    </notification> -->

    <main>

        <div id="list">

            <ul>
                <li *ngFor="let note of notes">{{note.title ? note.title : ""}}</li>
            </ul>

        </div>

        <!-- <note [activeNote]=activeNote [toggleFormFocus]=toggleFormFocus (click)=changeActiveNote()></note> -->

        <note [activeNote]=activeNote ></note>

    </main>

</div>
