<a href=""><img src="assets/logo_small_dark.svg" alt="logotype"></a>
<button id=createNew class=small-button-primary (click)='formVisible = true'>New note</button>
<button (click)=googleAuth.signOut() class=small-button-secondary>Sign out</button>

<!-- <h2 >Notes</h2> -->

<!-- <notification>

    Any SHARED note will become accessible by a link unless you

    <highlight>
        log in for 30 days
    </highlight>

</notification> -->

<note [activeNote]=activeNote (click)=changeActiveNote()></note>
