<div id=container>

    <header>
        <div class="left">
            <a href="" id=logo><img src="assets/logo-small-dark.svg" alt="logotype"></a>
            <button id=createNew class=small-button-primary (click)=createNote()>New note</button>
        </div>
        <div class="right">
            <button class=small-button-primary id="delete-note" (click)="removeNote()">Delete note</button>
            <button id=sign-out (click)=googleAuth.signOutAndGoToMain() class=small-button-secondary>Sign out</button>
        </div>
    </header>

    <!-- <h2 >Notes</h2> -->

    <!-- <notification>

        Any SHARED note will become accessible by a link unless you

        <highlight>
            log in for 30 days
        </highlight>

    </notification> -->

    <main>

        <div id="list" #notesListHTML>

            <ul>
                <li [@note-item] *ngFor="let note of notes" [class.active]="note.id === this.activeNote.id"
                    (click)="changeActiveNote(note)">{{note.title}}</li>
            </ul>

        </div>

        <div class="note">

            <note [activeNote]=activeNote (noteContentChanged)="reSortNotes(); scrollToFirstNote()"
                [toggleFormFocus]=formFocused></note>

        </div>

    </main>

</div>
