@import 'fonts'
@import 'colors'
@import 'sizes'

div#container
    display: grid
    grid-template-columns: minmax(265px, 15%) auto minmax(400px, 35%)
    height: 100%

    div#sidebar

        @media screen and ( max-width:  $min-mobile-width)
            display: none

        display: grid
        grid-template-rows: 99px auto 39px
        padding: 58px 30px 50px 30px

        button#sign-out
            justify-content: left


    header#desktop-header
        display: grid
        grid-auto-flow: column
        justify-content: space-between
        margin: 45px 50px 0 50px

        @media screen and ( max-width:  $min-mobile-width)
            display: none

        h1
            font-family: $roboto
            font-size: 31px
            line-height: 36px


    div#notes
        margin: 5px 0px 5px 0
        background-color: $bisque-light
        display: grid
        grid-template-rows: 152px auto
        overflow-y: hidden
        border-radius: 8px


        div#list

            height: 100%
            padding-bottom: 20px
            margin: 0 5px
            background-color: $bisque-light
            border-radius: 4px
            overflow: auto

            ul  // notes list
                display: grid
                gap: 5px
                border-radius: 10px


                li
                    border-radius: 4px
                    cursor: pointer
                    padding: 6px 45px 7px 45px
                    background-color: $bisque-lightest
                    height: 39px
                    overflow: hidden

                    transition: .15s linear background-color


                    &.active
                        background-color: $bisque-darker

                    pre
                        color: $brown-light
                        font-weight: $medium
                        overflow: hidden
                        text-overflow: ellipsis
                        font-family: $roboto
                        font-size: 14px
                        line-height: 26px


            li pre:empty::after
                content: "Add title"
                opacity: 0.75


    div#note
        overflow: hidden
