@import 'colors'
@import 'geometry'
@import 'fonts'
@import 'distances'
@import 'sizes'
@import 'borders'

@mixin button-base
    cursor: pointer
    transition: .15s linear all
    border-radius: $border-radius-small

    display: grid
    grid-auto-flow: column
    align-items: center

    font-family: $roboto
    font-weight: $bold
    font-size: $font-size-button

    min-width: max-content

    & path, & line
        transition: .15s linear all

@mixin small-button-base
    @include button-base

    padding: $small-button-padding
    height: $small-button-height

    gap: 14px

@mixin white-icon
    & svg line, & svg path
        stroke: $white

@mixin small-button-icon-only
    @include small-button-base

    background-color: $bisque-light
    border: $small-button-secondary-border

    & > *
        margin-right: 0

    &:hover
        background-color: $red
        border: 2px solid $red

        & svg line, & svg path
            stroke: $white

        @media (hover: none)  // remove hover on mobiles
            background-color: $bisque-light
            border: $small-button-secondary-border

            & svg line, & svg path
                stroke: $brown-light

@mixin red

    color: $red

    & svg line, & svg path
        stroke: $red

        background-color: rgba($red, .05)
        border: 2px solid rgba($red, .08)

    &:hover

        @media (hover: none)  // remove hover on mobiles
            color: $red
            background-color: rgba($red, .05)
            border: 2px solid rgba($red, .08)

            & svg line, & svg path
                stroke: $red

@mixin small-button-primary
    @include small-button-base

    justify-content: space-between

    background-color: $red
    color: $white
    border: 2px solid $red

    &:hover
        background-color: $black

        border: 2px solid $black

        @media (hover: none)  // remove hover on mobiles
            background-color: $red
            border: 2px solid $red

@mixin pro-button
    background-color: rgba($red, 0.05)
    color: $red

    border: 2px solid rgba($red, .08)

    &:hover

        color: $white
        background-color: $red

        border: 2px solid rgba($red, .08)

        @media (hover: none)  // remove hover on mobiles
            background-color: rgba($red, 0.05)
            color: $red

@mixin small-button-secondary
    @include small-button-base

    background-color: $bisque-light
    color: $brown-light
    border: $small-button-secondary-border

    &:hover
        background-color: $red
        color: $white
        border: 2px solid $red

        & svg line, & svg path
            stroke: $white

        @media (hover: none)  // remove hover on mobiles
            background-color: $bisque-light
            color: $brown-light
            border: $small-button-secondary-border

            & svg line, & svg path
                stroke: $brown-light

@mixin sidebar-menu-item
    justify-content: space-between

    background-color: $bisque-light
    color: $brown-light
    border: $small-button-secondary-border

    & svg line, & svg path
        stroke: $brown-light

    &.active
        cursor: auto
        color: $white
        background-color: $black
        border: 2px solid $black
        & svg line, & svg path
            stroke: $white

    &.active:hover
        background-color: $black
        border: 2px solid $black

        @media (hover: none)  // remove hover on mobiles
            color: $white

            & svg line, & svg path
                stroke: $white

    & > *
        grid-column: 2
        margin-right: 0

@mixin small-light-button
    background-color: $white-lightest
    color: $white
    border: 2px solid #313031

    &:hover
        background-color: black
        border: 2px solid black

        @media (hover: none)  // remove hover on mobiles
            background-color: $white-lightest
            border: $light-button-border
            color: $white

@mixin main-page-big-text
    color: $bisque-dark
    font-family: $playfair
    font-size: $biggest-desktop

    @media screen and ( max-width: $min-mobile-width )
        font-size: $biggest-mobile

@mixin big-button-primary
    @include button-base

    color: $white
    background-color: $red
    border: $no-border

    height: $big-button-height

    justify-content: space-between

    padding: 0 33px 0 32px

    &:hover
        background-color: $black

        @media (hover: none)  // remove hover on mobiles
            background-color: $red

    & div.left-side
        display: grid
        grid-auto-flow: column
        align-items: center
        gap: 31px

@mixin grid-reverse
    & > *
        grid-column: 2
