<div class="container" [class.forbidden]=forbidden (wheel)="onWheel($event)">

    <div id="content">


        <header [class.headerHidden]="headerHidden">

            <logo-mobile [red]="forbidden"></logo-mobile>

            <button #destroyButton class="small-button-secondary red" *ngIf="!forbidden && destroyable">
                <icon-delete></icon-delete>
                Destroy note
            </button>

            <loader [visible]="loading"></loader>

        </header>

        <main>
            <section #content id="content" (scroll)="onScroll($event)">

                <div id="text" *ngIf="!forbidden && !loading">
                    <h1>{{title}}</h1>
                    <p>{{body}}</p>
                </div>

                <div class="loading-text" id="text" *ngIf="loading">
                    <h1>{{ lang.copy.loading }}</h1>
                </div>

                <div id="forbidden-text" *ngIf="forbidden && !loading">
                    <h1>
                        {{ lang.lang === "ua" ? "Доступ до нонатки" : "You" }}
                        <span>
                            {{
                                lang.lang === "ua"
                                    ? "заборонено"
                                    : "can't read"
                            }}
                        </span>
                        {{

                            lang.lang === "ua"
                                ? "За якихось або однієї з наступних причин:"
                                : "the note due to some or one of following reasons:"
                        }}
                    </h1>
                    <ol>
                        <li>
                            {{
                                lang.lang === "ua"
                                    ? "Власник не загинув"
                                    : "Owner hasn't died"
                            }}
                        </li>
                        <li>
                            {{
                                lang.lang === "ua"
                                    ? "Неправильне посилання або власник відкликав доступ"
                                    : "Note link is wrong or has been revoked / unshared by owner"
                            }}
                        </li>
                        <li>
                            {{
                                lang.lang === "ua"
                                    ? "Власник видалив нотатку"
                                    : "Note has been deleted by the owner"
                            }}
                        </li>
                        <li>
                            {{
                                lang.lang === "ua"
                                    ? "Забагато запитів, можливо ви шахрай"
                                    : "Too many requests, you may be a scammer"
                            }}
                        </li>
                    </ol>

                    <p>
                        {{
                            lang.lang === "ua"
                                ? "Спробуйте пізніше або"
                                : "Try again later or"
                        }}
                        <a href="mailto:kopyloleh@gmail.com" id="support-link" >{{
                            lang.lang === "ua"
                                ? "напишіть до підтримки"
                                : "contact support"

                            }}</a>
                    </p>
                </div>

            </section>

            <persistent-alert *ngIf="forbidden">
                {{
                    lang.lang === "ua"
                        ? "Ми не можемо повідомити точну причину з міркувань безпеки"
                        : "We can't tell the exact reason due to security concerns"
                }}
            </persistent-alert>
        </main>

    </div>

</div>
