<confirm-popup #confirmPopup></confirm-popup>
<div class="container" [class.forbidden]="forbidden" (wheel)="onWheel($event)">
    <div id="content">
        <header [class.headerHidden]="headerHidden">
            <logo-mobile [red]="forbidden"></logo-mobile>

            <button
                *ngIf="!loading"
                class="small-button-secondary small-light-button"
                (click)="lang.toggle()"
                id="lang-switcher"
            >
                <img src="assets/main-page/{{ lang.flag }}" alt="" />
            </button>

            <loader [visible]="loading"></loader>
        </header>

        <main>
            <section #content id="content" (scroll)="onScroll($event)">
                <div id="text" *ngIf="!forbidden && !loading">
                    <h1>{{ title }}</h1>
                    <p>{{ body }}</p>
                </div>

                <div class="loading-text" id="text" *ngIf="loading">
                    <h1>{{ lang.copy.loading }}</h1>
                </div>

                <div id="forbidden-text" *ngIf="forbidden && !loading">
                    <h1>
                        {{ lang.copy.noteForRecipient.title.beforeSpan }}
                        <span>
                            {{ lang.copy.noteForRecipient.title.span }}
                        </span>
                        {{ lang.copy.noteForRecipient.title.afterSpan }}
                    </h1>
                    <ol>
                        <li>
                            {{ lang.copy.noteForRecipient.reasons[1] }}
                        </li>
                        <li>
                            {{ lang.copy.noteForRecipient.reasons[2] }}
                        </li>
                        <li>
                            {{ lang.copy.noteForRecipient.reasons[3] }}
                        </li>
                        <li>
                            {{ lang.copy.noteForRecipient.reasons[4] }}
                        </li>
                    </ol>

                    <p>
                        {{ lang.copy.noteForRecipient.whatToDo.text }}
                        <a href="mailto:kopyloleh@gmail.com" id="support-link">
                            {{ lang.copy.noteForRecipient.whatToDo.link }}
                        </a>
                    </p>
                </div>
            </section>

            <persistent-alert *ngIf="forbidden">
                {{ lang.copy.noteForRecipient.cantDiscloseReason }}
            </persistent-alert>
        </main>
    </div>
</div>
