<confirm-popup #confirmPopup (confirmationPressed)="googleAuth.authorize('needPayment=true')"></confirm-popup>

<div id=container>
    <section id=banner>

        <header>
            <icon-logo></icon-logo>
            <a href="mailto:kopyloleh@gmail.com"><button class="small-button-secondary small-light-button">
                <img src="assets/main-page/icon-email-light.svg" alt="">Contact</button>
            </a>
        </header>
        <section id="cta">
            <h1>Leave a note for your loved ones before you <span class="highlight">die</span></h1>
        </section>

        <ul id="how-to">
            <li>
                <div class="number" title="Доброго вечора, ми з України" onclick="alert(this.title)">1</div>
                <p>Write a note & share a link</p>
            </li>
            <li>
                <div class="number">2</div>
                <p>Don't visit this app for <span class=highlight>30 days</span></p>
            </li>
            <li>
                <div class="number">3</div>
                <p>Now note is accessible by link</p>
            </li>
        </ul>

    </section>

    <section id=app>

        <div id="top-button-container">
            <!-- <button *ngIf="googleAuth.userLoggedIn" (click)=googleAuth.signOut() class=small-button-secondary id="logout">
                <icon-sign-out></icon-sign-out>
                Sign out
            </button> -->
            <button-logout></button-logout>
        </div>

        <div id="bottom-button-container">

            <button *ngIf="googleAuth.userLoggedIn" routerLink="/notes" class=big-button-primary>

                <div class="left-side">
                    <icon-notes></icon-notes>
                    My notes
                </div>

                <icon-arrow-right></icon-arrow-right>
            </button>

            <div id="auth" *ngIf="!googleAuth.userLoggedIn">

                <h1>Login or sign up</h1>

                <button (click)=googleAuth.authorize() google-sign-in class=big-button-primary>

                    <div class="left-side">
                        <icon-google></icon-google>
                        By Google
                    </div>

                    <icon-arrow-right></icon-arrow-right>
                </button>

            </div>

        </div>

    </section>
