<confirm-popup
    #confirmPopup
    (confirmationPressed)="googleAuth.authorize('needPayment=true')"
></confirm-popup>

<div id="container">
    <section id="banner">
        <header>
            <icon-logo></icon-logo>
            <div id="header__right-side">
                <a (click)="requestContactsPopup()"
                    ><button class="small-button-secondary small-light-button">
                        <img
                            src="assets/main-page/icon-email-light.svg"
                            alt=""
                        />{{ lang.copy.contact }}
                    </button>
                </a>
                <button
                    class="small-button-secondary small-light-button"
                    (click)="lang.toggle()"
                >
                    <img src="assets/main-page/{{ lang.flag }}" alt="" />
                </button>
            </div>
        </header>
        <section id="cta">
            <h1>
                {{ lang.copy.title.main }}
                <span class="highlight">{{ lang.copy.title.span }}</span>
            </h1>
        </section>

        <ul id="how-to">
            <li>
                <div
                    class="number"
                    title="Доброго вечора, ми з України"
                    onclick="alert(this.title)"
                >
                    1
                </div>
                <p>{{ lang.copy.instruction[1] }}</p>
            </li>
            <li>
                <div class="number">2</div>
                <p>
                    {{ lang.copy.instruction[2].main }}
                    <span class="highlight">{{
                        lang.copy.instruction[2].span
                    }}</span>
                </p>
            </li>
            <li>
                <div class="number">3</div>
                <p>{{ lang.copy.instruction[3] }}</p>
            </li>
        </ul>
    </section>

    <section id="app">
        <div id="top-button-container">
            <div
                [class.userLoggedOut]="!googleAuth.userLoggedIn"
                class="logout"
            >
                <button-logout></button-logout>
            </div>
        </div>

        <div id="bottom-button-container">
            <div @buttonSlider *ngIf="googleAuth.userLoggedIn" id="notes">
                <button
                    routerLink="/notes"
                    queryParamsHandling="merge"
                    class="big-button-primary"
                >
                    <div class="left-side">
                        <icon-notes></icon-notes>
                        {{ lang.copy.myNotes }}
                    </div>

                    <icon-arrow-right></icon-arrow-right>
                </button>
            </div>

            <div @buttonSlider *ngIf="!googleAuth.userLoggedIn" id="auth">
                <h1>{{ lang.copy.loginOrSignup }}</h1>

                <button
                    (click)="googleAuth.authorize()"
                    google-sign-in
                    class="big-button-primary"
                >
                    <div class="left-side">
                        <icon-google></icon-google>
                        {{ lang.copy.byGoogle }}
                    </div>

                    <icon-arrow-right></icon-arrow-right>
                </button>
            </div>
        </div>
    </section>
</div>
