@import 'organisms'
@import 'colors'

body
    background: $bisque-dark
    touch-action: manipulation  // Remove double tap to zoom on mobile

*::selection
    background-color: rgba($red, .25)

main
    height: 100%
    position: relative

button.small-button-primary
    @include small-button-primary

button.small-button-secondary
    @include small-button-secondary

h1.mainPageBigText
    @include main-page-big-text

button.small-light-button
    @include small-light-button

button.big-button-primary
    @include big-button-primary

button.sidebar-menu-item
    @include sidebar-menu-item

button.small-button-icon-only
    @include small-button-icon-only

button.red
    @include red

button.white-icon
    @include white-icon
